---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="TrapNerd | Cloud Portfolio">
  <main>
    <h1>TrapNerd Solutions</h1>
    <p>Cloud • Security • AI</p>
  </main>
</BaseLayout>
